<?xml version="1.0"?>
<launch>
    <arg name="world" default="flat.wbt" doc="Path to the world to load" />
    <arg name="mode" default="realtime" doc="Startup mode" />
    <arg name="no_gui" default="false" doc="Start Webots with minimal GUI" />
    <arg name="use_sim_time" default="true" doc="Synchronize ROS time with simulation" />

    <param name="/use_sim_time" value="$(arg use_sim_time)" />
    <rosparam command="load" param="physical" file="$(find twizy_description)/config/physical.yaml" />

    <node pkg="twizy_webots" type="twizy_webots" name="twizy_webots" args="--world '$(find twizy_webots)/worlds/$(arg world)' --mode $(arg mode) --no-gui $(arg no_gui)" required="true" />

    <include file="$(find twizy_webots)/launch/include/controller.launch" />
    <include file="$(find twizy_webots)/launch/include/piksi.launch" />
    <include file="$(find twizy_webots)/launch/include/realsense.launch" />
</launch>