<?xml version="1.0"?>
<launch>
	<!-- Start the main Navigation Stack node -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<!-- Fetch parameters for different components of the Navigation Stack -->
		<rosparam ns="global_costmap" subst_value="true">$(eval exec('global load; from twizy_bringup.twizyparam import load') or load(f'{find("twizy_bringup")}/params/global_costmap_params.yaml'))</rosparam>
		<rosparam ns="local_costmap" subst_value="true">$(eval exec('global load; from twizy_bringup.twizyparam import load') or load(f'{find("twizy_bringup")}/params/local_costmap_params.yaml'))</rosparam>
		<rosparam ns="GlobalPlanner" subst_value="true">$(eval exec('global load; from twizy_bringup.twizyparam import load') or load(f'{find("twizy_bringup")}/params/global_planner_params.yaml'))</rosparam>
		<rosparam ns="TebLocalPlannerROS" subst_value="true">$(eval exec('global load; from twizy_bringup.twizyparam import load') or load(f'{find("twizy_bringup")}/params/teb_local_planner_params.yaml'))</rosparam>

		<!-- As global planner, use global_planner -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="0.5" />
		<param name="planner_patience" value="5.0" />

		<!-- As local planner use teb_local_planner -->
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

		<!-- The car is not able to rotate in place, so we cant refresh the
		     costmaps this way -->
		<param name="clearing_rotation_allowed" value="false" />
	</node>
</launch>