<?xml version="1.0"?>
<launch>
    <!-- Load YAML file containg physical parameters of the twizy -->
    <rosparam command="load" param="physical" file="$(find twizy_description)/config/physical.yaml" />

    <!-- A remap is needed here since args (specifically wheel_radius) cannot
         be set from parameters (/physical/rear_wheel/radius) -->
    <remap from="/wheel_encoders/wheel_radius" to="/physical/rear_wheel/radius" />
    <!-- Start the Twizy's wheel encoders -->
    <include file="$(find twizy_wheel_encoder)/launch/wheel_encoders.launch">
        <arg name="port" value="/dev/ttyACM0" />
        <arg name="cycles_per_revolution" value="29" />
        <arg name="wheel_radius" value="0" /> <!-- Dummy value, se remap above -->
        <arg name="covariance" value="0.01" /> <!-- Value picked because it worked decently well -->
        <arg name="left_frame_id" value="rear_left_wheel" />
        <arg name="right_frame_id" value="rear_right_wheel" />
    </include>
</launch>