<?xml version="1.0"?>
<launch>
    <node pkg="yolo_detection" type="bounding_box_calc" name="bounding_box_calc" required="true">
        <param name="num_image_sources" value="2" />

        <remap from="image1" to="/camera/front/color/image_raw" />
        <remap from="image_with_boxes1" to="/vision/front/image_with_boxes" />
        <remap from="boxes1" to="/vision/front/boxes" />

        <remap from="image2" to="/camera/rear/color/image_raw" />
        <remap from="image_with_boxes2" to="/vision/rear/image_with_boxes" />
        <remap from="boxes2" to="/vision/rear/boxes" />
    </node>

    <node pkg="twizy_control" type="object_avoidance" name="front_object_avoidance" required="true">
        <remap from="image" to="/camera/front/aligned_depth_to_color/image_raw" />
        <remap from="object_in_front" to="/vision/front/object_in_front" />
        <remap from="boxes" to="/vision/front/boxes" />
    </node>

    <node pkg="twizy_control" type="object_avoidance" name="rear_object_avoidance" required="true">
        <remap from="image" to="/camera/rear/aligned_depth_to_color/image_raw" />
        <remap from="object_in_front" to="/vision/rear/object_in_front" />
        <remap from="boxes" to="/vision/rear/boxes" />
    </node>
</launch>
