<?xml version="1.0"?>
<launch>
    
    <include file="$(find twizy_bringup)/launch/transforms.launch" />
    <include file="$(find twizy_bringup)/launch/piksi.launch" />
    <include file="$(find twizy_bringup)/launch/realsense_cameras.launch" />
    <include file="$(find twizy_bringup)/launch/wheel_encoders.launch" />
    <include file="$(find twizy_bringup)/launch/nav_stack.launch" />
    <include file="$(find twizy_bringup)/launch/can_control.launch" />
    <include file="$(find twizy_bringup)/launch/velodyne.launch" />
</launch>