<?xml version="1.0"?>
<launch>
    <arg
        name="robot"
        default="$(find twizy_description)/robot/twizy.py" />
    <arg
        name="publish_state"
        default="true"
        doc="Start joint- and robot state publisher nodes" />

    <param name="robot_description" command="$(arg robot) urdf" />

    <group if="$(arg publish_state)">
        <node
            pkg="joint_state_publisher"
            type="joint_state_publisher"
            name="joint_state_publisher"
            required="true" />
        <node
            pkg="robot_state_publisher"
            type="robot_state_publisher"
            name="robot_state_publisher"
            required="true" />
    </group>
</launch>