<?xml version="1.0"?>
<launch>
    <include file="$(find twizy_bringup)/launch/include/transforms.launch" />
    <include file="$(find twizy_bringup)/launch/include/piksi.launch" />
    <include file="$(find twizy_bringup)/launch/include/realsense.launch" />
    <include file="$(find twizy_bringup)/launch/include/wheel_encoders.launch" />
    <include file="$(find twizy_bringup)/launch/include/nav_stack.launch" />
    <include file="$(find twizy_bringup)/launch/include/can_control.launch" />
    <include file="$(find twizy_bringup)/launch/include/velodyne.launch" />
</launch>