<?xml version="1.0"?>
<launch>   
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="camera" value="camera/front"/>
        <arg name="serial_no" value="938422076468" />
        <arg name="align_depth" value="true" />
        <arg name="enable_sync" value="true" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="camera" value="camera/rear" />
        <arg name="serial_no" value="817412071115" />
        <arg name="align_depth" value="true" />
        <arg name="enable_sync" value="true" />
    </include>
</launch>