<?xml version="1.0"?>
<launch>
    <rosparam command="load" param="physical" file="$(find twizy_description)/config/physical.yaml" />

    <node pkg="ackermann_teleop" type="key_teleop" name="key_teleop" required="true" output="screen">
        <remap from="~max_forward_speed" to="/physical/max_forward_speed" />
        <remap from="~max_reverse_speed" to="/physical/max_reverse_speed" />
        <remap from="~max_steering_angle" to="/physical/max_steering_angle" />
    </node>
</launch>