<?xml version="1.0"?>

<!--
    Demo launch file showing the car driving locally in simulation by keyboard
    control. This launch file might not run on the car's on-board computer
    since webots might not be installed on there.
-->

<launch>
    <arg name="world" default="trees.wbt" doc="Path to the world to load" />

    <!-- Start webots -->
    <include file="$(find twizy_webots)/launch/webots.launch">
        <arg name="world" value="$(arg world)" />
    </include>

    <!-- Start keyboard control node -->
    <include file="$(find twizy_bringup)/launch/include/keyop.launch" />
</launch>