<?xml version="1.0"?>
<launch>
    <arg name="world" default="trees.wbt" doc="Path to the world to load" />

    <include file="$(find twizy_webots)/launch/webots.launch">
        <arg name="world" value="$(arg world)" />
    </include>

    <include file="$(find twizy_bringup)/launch/include/keyop.launch" />
</launch>