<?xml version="1.0"?>
<launch>
    <node pkg="yolo_detection" type="bounding_box_calc" name="front_bounding_box_calc" required="true">
        <remap from="/camera/color/image_raw" to="/front_cam/color/image_raw" />
        <remap from="/image_with_boxes" to="/front_image_with_boxes" />
        <remap from="boxes" to="front_boxes" />
    </node>

    <node pkg="yolo_detection" type="bounding_box_calc" name="rear_bounding_box_calc" required="true">
        <remap from="/camera/color/image_raw" to="/rear_cam/color/image_raw" />
        <remap from="/image_with_boxes" to="/rear_image_with_boxes" />
        <remap from="boxes" to="rear_boxes" />
    </node>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="camera" value="front_cam"/>
        <arg name="serial_no" value="938422076468" />
        <arg name="align_depth" value="true" />
        <arg name="enable_sync" value="true" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="camera" value="rear_cam" />
        <arg name="serial_no" value="817412071115" />
        <arg name="align_depth" value="true" />
        <arg name="enable_sync" value="true" />
    </include>

    <node pkg="twizy_control" type="object_detection" name="front_object_detection" required="true">
        <remap from="/camera/aligned_depth_to_color/image_raw" to="/front_cam/aligned_depth_to_color/image_raw" />
        <remap from="object_detection" to="/front_object_detection" />
        <remap from="/boxes" to="front_boxes"/>
    </node>

    <node pkg="twizy_control" type="object_detection" name="rear_object_detection" required="true">
        <remap from="/camera/aligned_depth_to_color/image_raw" to="/rear_cam/aligned_depth_to_color/image_raw" />
        <remap from="object_detection" to="/rear_object_detection" />
        <remap from="/boxes" to="rear_boxes"/>
    </node>


</launch>