<?xml version="1.0"?>
<launch>
    <arg name="gnss_covariance" default="[0.001, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.001]" />
    <arg name="gnss_covariance_type" default="1" />
    <arg name="gyro_covariance" default="[0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.01]" />
    <arg name="accel_covariance" default="[10.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 10.0]" />

    <node pkg="twizy_webots" type="gnss" name="left_piksi_gnss" required="true">
        <rosparam param="covariance" subst_value="true">$(arg gnss_covariance)</rosparam>
        <param name="covariance_type" value="$(arg gnss_covariance_type)" />
        <param name="ups" value="10.0" />
        <param name="device" value="left_piksi_gnss" />
        <remap from="fix" to="/piksi/left/gnss/fix" />
    </node>

    <node pkg="twizy_webots" type="gnss" name="right_piksi_gnss" required="true">
        <rosparam param="covariance" subst_value="true">$(arg gnss_covariance)</rosparam>
        <param name="covariance_type" value="$(arg gnss_covariance_type)" />
        <param name="ups" value="10.0" />
        <param name="device" value="right_piksi_gnss" />
        <remap from="fix" to="/piksi/right/gnss/fix" />
    </node>

    <node pkg="twizy_webots" type="imu" name="piksi_imu_right" required="true">
        <rosparam param="gyro/covariance" subst_value="true">$(arg gyro_covariance)</rosparam>
        <rosparam param="accel/covariance" subst_value="true">$(arg accel_covariance)</rosparam>
        <param name="frame_id" value="right_piksi_imu" />
        <param name="gyro_device" value="right_piksi_gyro" />
        <param name="accel_device" value="right_piksi_accelerometer" />
        <remap from="imu" to="/piksi/right/imu/raw" />
        <param name="imu/ups" value="100.0" />
    </node>

    <node pkg="twizy_webots" type="imu" name="piksi_imu_left" required="true">
        <rosparam param="gyro/covariance" subst_value="true">$(arg gyro_covariance)</rosparam>
        <rosparam param="accel/covariance" subst_value="true">$(arg accel_covariance)</rosparam>
        <param name="frame_id" value="left_piksi_imu" />
        <param name="gyro_device" value="left_piksi_gyro" />
        <param name="accel_device" value="left_piksi_accelerometer" />
        <remap from="imu" to="/piksi/left/imu/raw" />
        <param name="imu/ups" value="100.0" />
    </node>
</launch>